<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="loginmsg.htmlmyNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand active" href="loginmsg.html">P E P</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
<!-- Child Dropdown -->
        <li class="dropdown">
          <a href="loginmsg.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Child<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="loginmsg.html">Child Labour</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Trafficking</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Abuse & Protection</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">NGOs involved</a></li>
          </ul>
        </li>

<!-- Women Dropdown -->
        <li class="dropdown">
          <a href="loginmsg.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="loginmsg.html">Safety</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Empowerment</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Report harassment</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">NGOs involved</a></li>
          </ul>
        </li>

<!-- Hunger Dropdown -->
        <li class="dropdown">
          <a href="loginmsg.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hunger<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="loginmsg.html">Donate Food</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Request Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Report Famine</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">NGOs involved</a></li>
          </ul>
        </li>

<!--unEmployment Dropdown -->
        <li class="dropdown">
          <a href="loginmsg.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UnEmployment<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="loginmsg.html">Get trained</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Jobseeker's Allowance (JSA)</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Discontinue JSA</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="loginmsg.html">Eligibility</a></li>
          </ul>
        </li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="SignUp.jsp"><span class="glyphicon glyphicon-log-in"></span> Sign-Up</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-info navbar-btn " data-toggle="modal" data-target="loginmsg.htmlmyModal"><span class="glyphicon glyphicon-log-in"></span>&nbspLogin In</button></li>
      </ul>
    </div>
  </div>
</nav>