<nav class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" href="#">PEP</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="WelcomeUser.jsp">Home</a></li>
                    <!-- Child Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Child<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="ChildProtection.jsp">Child Labour</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="ChildProtection.jsp">Trafficking</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="ChildProtection.jsp">Abuse & Protection</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="NGOlist.jsp">NGOs involved</a></li>
          </ul>
        </li>

<!-- Women Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="WomenEmpowerment.html">Safety</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="WomenEmpowerment.html">Empowerment</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="WomenEmpowerment.html">Report harassment</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="NGO.html">NGOs involved</a></li>
          </ul>
        </li>

<!-- Hunger Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hunger<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="#">Donate Food</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Request Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Report Famine</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="NGO.html">NGOs involved</a></li>
          </ul>
        </li>

<!--unEmployment Dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UnEmployment<span class="caret"></span></a>
          <ul class="dropdown-menu" >
              <li><a href="#">Get trained</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Jobseeker's Allowance (JSA)</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Discontinue JSA</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="NGO.html">Eligibility</a></li>
          </ul>
        </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu" >
                            <li><a href="#" class="glyphicon glyphicon-user"> View Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="LogoutServlet">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
          </div>
        </nav>